.cardBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.text {
  margin: 0;
  opacity: 50%;
  font-size: 16px;
  color: white;
}
.number {
  margin: 0;
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
