.body {
  background-color: whitesmoke;
  height: 120vh;
}
.container {
  width: 100vw;
  height: 120vh;
  display: flex;
  gap: 2vw;
  background-color: whitesmoke;
  padding-top: 2vw;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
