.body {
  background-color: whitesmoke;
  display: flex;
  padding: 40px;
 height: 900px;
 display: flex;
 justify-content: center;

}
.container {
  background-color: whitesmoke;
  max-height: 1000px;
}
